nav{
    height: 50px;
    padding: .5em 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    /* border: 2px solid red; */
    font-size: 15px;
    color: white;
    background: url(../../assets/image/outerspace-43.gif.webp);

}

.logo{
    width: 200px;
    /* border: 2px solid yellow; */
}

.links{
    font-size: 20px;
    color: yellowgreen;
    margin-left: 2em;
    display: flex;
    gap: 1em;
    
}

.linkLogout{
    color: yellowgreen;
}
.linkAbout{
    color: yellowgreen;
}
.linkHome{
    color: yellowgreen;
}