nav{
    height: 60px;
    padding: .1em 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    /* border: 2px solid red; */
    font-size: 15px;
    color: white;
    background: url(../../assets/image/outerspace-58.gif.webp);
}

.logo{
    width: 250px;
    /* border: 2px solid yellow; */
}

.links{
    border: 1px solid red;
    font-size: 15px;
    color: yellowgreen;
    display: flex;
    
    gap: .5em;
    
}

.linkLogout{
    color: yellowgreen;
}
.linkAbout{
    color: yellowgreen;
}
.linkHome{
    color: yellowgreen;
}